h1 {
    color: blue;
    font-family: verdana;
    font-size: 180%;
}
p.first {
	color: orange;
}
div.jumbotron {
	background-color: lightpink;

}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
}
li{
	float: left;
}
li a{
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: lightgrey;
}