h1 {
    color: blue;
    font-family: palatino;
    font-size: 200%;
}
div.jumbotron {
	background-color: lightpink;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #f3f3f3;
}
li{
	float: left;
}
li a{
	display: block;
	color: #666;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
li a:hover{
	background-color: lightgrey;
}
p{
	padding-right: 50px;
	padding-left: 50px;
}